@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

.invisible {
	display: none;
}

.wrapper {
	position: absolute;
	top: 100%;
	width: 100%;
	font-weight: 300;
	margin-top: 0.5em;
	transition: opacity 2s;
}

.suggestions {
	background-color: #fefefe;
	width: 100%;
	border-radius: 15px;
	padding: 10px 0;
	z-index: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.item__wrapper {
	flex: 1 1;
	cursor: pointer;
	padding: 7px 0 7px 10px;
}

.item__wrapper:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.item__wrapper p {
	color: black;
	font-size: 1.3em;
	margin: 0;
}
