.container {
	position: absolute;
	z-index: 30;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	padding: 2em 1em;
}

.header {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 1em;
}

.header > span {
	font-size: 23px;
}

.toolbar {
	display: flex;
	align-items: center;
}

.main {
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
	/* max two rows */
	max-height: 100px;
	overflow-y: auto;
}

.image {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	background-color: var(--mantine-color-gray-2);
}

.image img {
	height: 100%;
	width: 100%;
	border-radius: 3px;
}

.list__queue {
	background-color: var(--mantine-color-gray-2);
	padding: var(--mantine-spacing-sm);
	border-radius: var(--mantine-radius-sm);
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	box-sizing: border-box;
}

.list__queue:hover {
	background-color: var(--mantine-color-gray-3);
}
