@keyframes fade-widget-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper {
    position: absolute;
    width: max-content;
    height: max-content;
    animation-name: fade-widget-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.moverEnabled {
    cursor: move;
}

.inner {
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper:not(.moverEnabled) .overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
}