@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

.gallery_container {
    max-width: 100%;
}

/* Scrollbar of categories */
.gallery_categories::-webkit-scrollbar {
    height: 8px;
    margin: 5px;
}

.gallery_categories::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(145, 145, 145, 0.6);
    transition: background-color 1s;
}

.gallery_categories::-webkit-scrollbar-thumb:hover {
    background-color: rgba(145, 145, 145, 0.8);
}

/* Categories */
.gallery_categories {
    max-width: 100%;
    display: flex;
    gap: 13px;
    margin-bottom: 16px;
    margin-top: 3px;
    overflow: auto;
    white-space: nowrap;
}

.gallery_category {
    background-color: rgba(30, 30, 30, 0.1);
    border-radius: 13px;
    padding: 8px 10px;
    transition: background-color 200ms;
    user-select: none;
    cursor: pointer;
    margin-bottom: 7px;
}

.gallery_category:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.gallery_category.selected {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.gallery_category p {
    margin: 0;
    padding: 0;
    font-size: 17px;
}


/* Images */
.gallery_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    user-select: none;
}

.gallery_images * {
    user-select: none;
}

.gallery_image {
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 7%;
    overflow: hidden;
    cursor: pointer;
}

.gallery_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* on hover */
.gallery_image:hover .gallery_image_overlay:not(.selected) {
    opacity: 1;
}

.gallery_image:hover .gallery_image_overlay.selected {
    background-color: rgba(0, 0, 0, 0.5);
}

/* static */
.gallery_image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 500ms ease;
}

.gallery_image_overlay.selected {
    opacity: 1;
    /* box-shadow: inset 0 0 53px rgba(0, 255, 0, 0.6); */
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery_image_overlay:not(.selected) {
    /* box-shadow: inset 0 0 53px rgba(0, 255, 0, 0.4); */
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.gallery_image_overlay__button {
    position: absolute;
    right: 5%;
    top: 5%;
}

.gallery_image_overlay svg {
    fill: white;
    transform: scale(1.3);
}

/* Page select */
.pages {
    display: flex;
    justify-content: center;
    gap: 6px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.page {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 20px 0 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    border: 2px solid rgb(239, 239, 239);
    transition: background-color 200ms,
                border-color 200ms;
}

.page:not(.selected):hover {
    background-color: rgb(209, 209, 209);
    border-color: rgb(218, 218, 218);
}

.page.selected {
    background-color: transparent;
    border: 2px solid rgb(51, 51, 51);
    cursor: not-allowed;
}

.page.selected p {
    font-weight: 600;
    color: rgb(51, 51, 51);
}

.page p {
    font-family: 'poppins'; 
    margin: 0;
    padding: 0;
    line-height: 22px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: rgb(153, 153, 153);
}