/* Custom drop down */
.settings_select {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    box-sizing: border-box;
    transition: opacity 200ms;
}

/* When disabled */
.settings_item.disabled .settings_item__content .settings_item__form_item_content .settings_select {
    pointer-events: none;
    opacity: 0.5;
}

.settings_item.disabled .settings_item__content .settings_item__form_item_label {
    pointer-events: none;
    opacity: 0.5;
}

/* When dropped down */
.settings_select.choosing_item {
    position: relative;
    z-index: 4;
    background-color: white;
    filter: drop-shadow(0 0 14px rgba(0, 0, 0, 0.14));
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.settings_select__current_item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

/* When dropped down */
.settings_select__current_item.choosing_item {
    border-bottom: .5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.settings_select__current_item__text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    color: #4a4a4a;
}

.settings_select__current_item__icon {
    color: #9B9B9B;
    transform: scale(1.3);
}

.settings_select__options.selected {
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}

.settings_select__options_item {
    padding: 8px 12px;
    transition: background-color 200ms;
}

.settings_select__options_item:hover {
    background-color: rgba(222, 222, 222, 0.57);
}