.item {
	margin-bottom: 32px;
	animation: var(--fadeInAnimation);
	background-color: rgba(133, 133, 133, 0.05);
	border-radius: 14px;
	padding: 1em;
}

.title {
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
}

.title_text {
	flex: 1 1;
	font-weight: 500;
	font-size: 20px;
	color: #2f2f2f;
	margin: 0;
}
