/* searchbar */
.widget_settings__searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.widget_settings__searchbar input {
    width: 100%;
    height: 16px;
    background-color: transparent;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #4a4a4a;
    font-size: 16px;
    font-weight: 400;
    color: #4a4a4a;
    padding: 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.widget_settings__searchbar input:focus {
    outline: none;
}


/* import / export buttons */

.widget_settings__import_export {
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.widget_settings__import_export button {
    width: 100%;
    height: 2.5em;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
}

.widget_settings__import_btn {
    background-color: #2ec36c;
}

.widget_settings__export_btn {
    background-color: #3498db;
}

.widget_settings__import_btn:hover {
    background-color: #27a35b;
}

.widget_settings__export_btn:hover {
    background-color: #2a7cb3;
}

/* social media / copyright */

#widget_settings__footer {
    margin-top: 3em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget_settings__footer_urls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.widget_settings__footer_urls a img {
    width: 35px;
    aspect-ratio: 1;
}

#copyright_infrigement {
    margin-top: 1em;
    text-align: center;
    font-weight: 200;
}