.wrapper {
    position: fixed;
    transition: opacity 2s;
    z-index: 1;
}

.wrapper.four {
    left: -8px;
    bottom: 0;
}

.wrapper.three {
    right: 0;
    bottom: 0;
}

.wrapper.two {
    right: 0;
    top: -8px;
}

.wrapper.one {
    left: -15px;
    top: -8px;
}

/* style when data is successfully loaded */
.inner_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 1em;
}

.status_icon {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.005);
}

.status_icon img {
    width: 100px;
    height: 100px;
}

.temperature {
    flex: 1 1;
    font-weight: 300;
}

.temperature p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 3em;
}

.city {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.city p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 300;
}