@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.clock {
    transition: opacity 2s;
}

.clock.center {
    text-align: center;
}

.clock.right {
    text-align: right;
}

.time__container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.clock.center .time__container {
    justify-content: center;
}

.clock.right .time__container {
    justify-content: flex-end;
}

#time {
    font-size: 3em;
    line-height: 1;
    font-weight: 300;
}

#period {
    font-size: 1.7em;
    font-weight: 300;
}

#date {
    font-size: 1.1em;
}

#weekday,
#yeardate,
#year {
    font-weight: 300;
    padding-left: .2ch;
    padding-right: .2ch;
}