@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.clock {
    transition: opacity 2s;
}

#time {
    font-size: 3em;
    margin-right: -8px;
    font-weight: 300;
}

#time_12hr {
    font-size: 3em;
    padding-left: 0;
    font-weight: 300;
}

#period {
    font-size: 1.7em;
    font-weight: 300;
}

#date {
    font-size: 1.1em;
}

#weekday,
#yeardate,
#year {
    font-weight: 300;
    padding-left: .2ch;
    padding-right: .2ch;
}