.widget__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.widget {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-weight: 500;
    font-size: 1.2em;
    margin: 0;
}

header button {
    background-color: #2fc36d;
    color: #fff;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #26a75c;
}

header button.installed {
    background-color: #c32f2f;
    color: #fff;
}

header button.installed:hover {
    background-color: #a12b2b;
}

main p {
    font-weight: 400;
    line-height: 0.9;
}

footer {
    margin-top: 1em;
}

footer p {
    font-weight: 200;
    font-size: 0.9em;
    margin: 0;
}