.weather_widget__wrapper {
    position: fixed;
    transition: opacity 2s;
    z-index: 1;
}

.weather_widget__wrapper.four {
    left: -32px;
    bottom: 0;
}

.weather_widget__wrapper.three {
    right: -8px;
    bottom: 0;
}

.weather_widget__wrapper.two {
    right: -8px;
    top: -8px;
}

.weather_widget__wrapper.one {
    left: -40px;
    top: -8px;
}

/* style when the city is wrong */
.weather_widget__inner_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}

.weather_widget__status_code p {
    padding: 0;
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

.weather_widget__wrong_city {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather_widget__wrong_city p {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 20ch;
    line-height: 0.9;
}

/* style when data is successfully loaded */
.weather_widget__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 1em;

}

.weather_widget__weather_info {
    display: flex;
    align-items: center;
    margin: -16px 1em;
    gap: 1em;
}

.weather_widget__status_icon {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.005);
}

.weather_widget__status_icon img {
    width: 6em;
    height: 6em;
}

.weather_widget__temperature {
    flex: 1 1;
    font-weight: 300;
}

.weather_widget__temperature p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 3em;
}

.weather_widget__city_info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather_widget__city_info p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 300;
}