:root {
	--fadeInAnimation: fadeComponentIn 50ms ease-in-out;
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	font-size: 100% !important;
	background-color: black;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.widget {
	color: rgba(255, 255, 255, 0.816);
	border-radius: 20px;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
	user-select: none;
	transition: opacity 0.5s ease-in-out;
}

::-webkit-scrollbar {
	width: 4px;
	margin: 5px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	border-radius: 1.5px;
	background-color: rgba(145, 145, 145, 1);
}

.abs_fit {
	position: absolute;
	inset: 0;
}

.material-icons {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@keyframes fadeComponentIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
