.container {
	height: 100%;
}

.images {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 120px;
	gap: 3px;
	user-select: none;
	animation: var(--fadeInAnimation);
	padding-top: 5px;
}

.images * {
	user-select: none;
}

.element_container {
	border-radius: 3px;
	grid-column: span 1;
	grid-row: span 1;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.element_container:hover {
	outline: 1px solid var(--mantine-color-blue-5);
}

.toolbar_hidden {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1.5s;
}

.toolbar {
	max-height: 200px !important;
}

.toolbar_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin: 15px 0;
	animation: var(--fadeInAnimation);
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: #fff;
}

.toolbar_container input {
	width: 100%;
	height: 16px;
	background-color: transparent;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid #4a4a4a;
	font-size: 16px;
	font-weight: 400;
	color: #4a4a4a;
	padding: 18px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

